body {
  background-color: rgb(204, 204, 204);
}

h1, h2 {
  text-align: center;
}

li {
  list-style: none;
}

.list {
  background-color: white;
  border: 1px solid black;
  margin: auto;
  border-radius: 5px;
}

.music {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 600px;
  height: 650px;
  margin: auto;
}

.player_one, .player_two {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  width: 550px;
}
a {
  text-decoration: none;
	color: black;
}


p {
  padding-left: 20px;
}
